<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/VerwerkFormulier" method="post">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="gebruikersnaam">
      </div>

      <div>
        <label for="mail">E-mail:</label>
        <input type="text" id="mail" name="gebruikersemail">
      </div>

      <div>
        <label for="msg">Bericht:</label>
        <textarea id="msg" name="bericht"></textarea>
      </div>

      <div>
        <input type="submit" value="Verzend bericht">
      </div>
    </form>
</body>
</html>